In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# NYPD Complaint Data
complaint_file = "../Resources/NYPD_Complaint_Data.csv"

NYPD_data =pd.read_csv(complaint_file)

NYPD_data.head()

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,CMPLNT_TO_DT,CRM_ATPT_CPTD_CD,KY_CD,LAW_CAT_CD,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude
0,192701448,QUEENS,10/7/1918,2/2/2019,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,WHITE,M,40.762070,-73.929744
1,122423264,STATEN ISLAND,11/24/1919,11/24/2019,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,WHITE,M,40.538354,-74.215574
2,595267268,MANHATTAN,1/9/1920,1/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,BLACK,U,UNKNOWN,UNKNOWN,D,40.722053,-73.988215
3,759752818,MANHATTAN,4/29/1920,4/29/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,WHITE HISPANIC,M,UNKNOWN,UNKNOWN,D,40.731890,-73.994546
4,351329583,QUEENS,7/6/1920,7/7/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,45-64,ASIAN / PACIFIC ISLANDER,M,18-24,BLACK HISPANIC,M,40.758563,-73.865846

In [3]:
NYPD_data.count()

CMPLNT_NUM          413412
BORO_NM             412927
CMPLNT_FR_DT        413412
CMPLNT_TO_DT        374308
CRM_ATPT_CPTD_CD    413412
KY_CD               413412
LAW_CAT_CD          413412
OFNS_DESC           413406
SUSP_AGE_GROUP      318550
SUSP_RACE           318550
SUSP_SEX            318550
VIC_AGE_GROUP       413411
VIC_RACE            413411
VIC_SEX             413411
Latitude            413412
Longitude           413412
dtype: int64

In [4]:
NYPD_df = NYPD_data

NYPD_df

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,CMPLNT_TO_DT,CRM_ATPT_CPTD_CD,KY_CD,LAW_CAT_CD,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude
0,192701448,QUEENS,10/7/1918,2/2/2019,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,WHITE,M,40.762070,-73.929744
1,122423264,STATEN ISLAND,11/24/1919,11/24/2019,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,WHITE,M,40.538354,-74.215574
2,595267268,MANHATTAN,1/9/1920,1/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,BLACK,U,UNKNOWN,UNKNOWN,D,40.722053,-73.988215
3,759752818,MANHATTAN,4/29/1920,4/29/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,WHITE HISPANIC,M,UNKNOWN,UNKNOWN,D,40.731890,-73.994546
4,351329583,QUEENS,7/6/1920,7/7/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,45-64,ASIAN / PACIFIC ISLANDER,M,18-24,BLACK HISPANIC,M,40.758563,-73.865846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413407,462517741,BROOKLYN,09/04/1010,9/10/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,WHITE,F,UNKNOWN,UNKNOWN,D,40.692681,-73.990914
413408,386907725,MANHATTAN,11/03/1010,11/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,WHITE HISPANIC,M,UNKNOWN,UNKNOWN,D,40.762394,-73.983421
413409,577517798,BRONX,12/04/1010,12/10/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.824551,-73.910235
413410,938263841,BRONX,12/04/1020,12/2/2020,COMPLETED,351,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,NaN,NaN,NaN,45-64,BLACK HISPANIC,M,40.841978,-73.904158
413411,111965055,BRONX,12/09/1016,12/20/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,NaN,NaN,NaN,65+,WHITE,M,40.896294,-73.874810

In [5]:
NYPD_df["CMPLNT_FR_DT"].value_counts()

6/1/2020      1857
1/1/2020      1733
1/15/2020     1439
6/2/2020      1392
8/1/2020      1388
              ...
2/4/2015         1
11/16/2006       1
3/10/2016        1
7/5/2015         1
3/28/2002        1
Name: CMPLNT_FR_DT, Length: 1792, dtype: int64

In [8]:
# Get the year 2020
startdate = "1/1/2020"
enddate = "12/31/2020"

after_start_date_DT = NYPD_df["CMPLNT_FR_DT"] >= startdate
before_end_date_DT = NYPD_df["CMPLNT_FR_DT"] <= enddate
between_two_dates = after_start_date_DT & before_end_date_DT
NYPD_2020_df = NYPD_df[between_two_dates]

NYPD_2020_df

,CMPLNT_NUM,BORO_NM,CMPLNT_FR_DT,CMPLNT_TO_DT,CRM_ATPT_CPTD_CD,KY_CD,LAW_CAT_CD,OFNS_DESC,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,Latitude,Longitude
0,192701448,QUEENS,10/7/1918,2/2/2019,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,WHITE,M,40.762070,-73.929744
1,122423264,STATEN ISLAND,11/24/1919,11/24/2019,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,WHITE,M,40.538354,-74.215574
2,595267268,MANHATTAN,1/9/1920,1/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,BLACK,U,UNKNOWN,UNKNOWN,D,40.722053,-73.988215
5,115899041,MANHATTAN,11/9/1920,11/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,BLACK,F,UNKNOWN,UNKNOWN,D,40.809597,-73.949786
6,710152247,BROOKLYN,12/30/1920,12/30/1920,COMPLETED,578,VIOLATION,HARRASSMENT 2,25-44,BLACK HISPANIC,F,25-44,BLACK HISPANIC,F,40.676458,-73.890808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413402,261978758,STATEN ISLAND,12/31/2020,12/31/2020,COMPLETED,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,45-64,BLACK,M,45-64,BLACK,F,40.640853,-74.134450
413408,386907725,MANHATTAN,11/03/1010,11/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,WHITE HISPANIC,M,UNKNOWN,UNKNOWN,D,40.762394,-73.983421
413409,577517798,BRONX,12/04/1010,12/10/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.824551,-73.910235
413410,938263841,BRONX,12/04/1020,12/2/2020,COMPLETED,351,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,NaN,NaN,NaN,45-64,BLACK HISPANIC,M,40.841978,-73.904158
413411,111965055,BRONX,12/09/1016,12/20/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,NaN,NaN,NaN,65+,WHITE,M,40.896294,-73.874810

In [12]:
NYPD_2020_df["CMPLNT_FR_DT"].value_counts()

1/1/2020      1733
1/15/2020     1439
1/31/2020     1377
1/14/2020     1371
10/23/2020    1360
              ...
1/5/1999         1
1/14/2004        1
12/31/2014       1
11/21/2018       1
11/22/2016       1
Name: CMPLNT_FR_DT, Length: 576, dtype: int64

In [13]:
NYPD_2020_new_df = NYPD_2020_df.rename(columns={'CMPLNT_NUM' : 'Complaint_number_ID', 'BORO_NM' : 'BORO_Name', 'CMPLNT_FR_DT': 'Start_Date', 'CMPLNT_TO_DT': 'End_Date', 'CRM_ATPT_CPTD_CD': 'Complaint_Status','KY_CD':'Complaint_code', 'LAW_CAT_CD':'Complaint_CAT', 'SUSP_AGE_GROUP' :'Suspect_Age', 'SUSP_RACE' : 'Suspect_Race', 'SUSP_SEX' : 'Suspect_Gender', 'VIC_AGE_GROUP' : 'Victim_Age', 'VIC_RACE' : 'Victim_Race','VIC_SEX' : 'Victim_Gender', 'OFNS_DESC' : 'Complaint_DESC'  })

NYPD_2020_new_df

,Complaint_number_ID,BORO_Name,Start_Date,End_Date,Complaint_Status,Complaint_code,Complaint_CAT,Complaint_DESC,Suspect_Age,Suspect_Race,Suspect_Gender,Victim_Age,Victim_Race,Victim_Gender,Latitude,Longitude
0,192701448,QUEENS,10/7/1918,2/2/2019,COMPLETED,109,FELONY,GRAND LARCENY,UNKNOWN,UNKNOWN,U,45-64,WHITE,M,40.762070,-73.929744
1,122423264,STATEN ISLAND,11/24/1919,11/24/2019,COMPLETED,109,FELONY,GRAND LARCENY,NaN,NaN,NaN,45-64,WHITE,M,40.538354,-74.215574
2,595267268,MANHATTAN,1/9/1920,1/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,BLACK,U,UNKNOWN,UNKNOWN,D,40.722053,-73.988215
5,115899041,MANHATTAN,11/9/1920,11/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,BLACK,F,UNKNOWN,UNKNOWN,D,40.809597,-73.949786
6,710152247,BROOKLYN,12/30/1920,12/30/1920,COMPLETED,578,VIOLATION,HARRASSMENT 2,25-44,BLACK HISPANIC,F,25-44,BLACK HISPANIC,F,40.676458,-73.890808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413402,261978758,STATEN ISLAND,12/31/2020,12/31/2020,COMPLETED,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,45-64,BLACK,M,45-64,BLACK,F,40.640853,-74.134450
413408,386907725,MANHATTAN,11/03/1010,11/9/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,25-44,WHITE HISPANIC,M,UNKNOWN,UNKNOWN,D,40.762394,-73.983421
413409,577517798,BRONX,12/04/1010,12/10/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,UNKNOWN,UNKNOWN,U,<18,UNKNOWN,F,40.824551,-73.910235
413410,938263841,BRONX,12/04/1020,12/2/2020,COMPLETED,351,MISDEMEANOR,CRIMINAL MISCHIEF & RELATED OF,NaN,NaN,NaN,45-64,BLACK HISPANIC,M,40.841978,-73.904158
413411,111965055,BRONX,12/09/1016,12/20/2020,COMPLETED,341,MISDEMEANOR,PETIT LARCENY,NaN,NaN,NaN,65+,WHITE,M,40.896294,-73.874810

In [14]:
NYPD_2020_new_df.dtypes

Complaint_number_ID      int64
BORO_Name               object
Start_Date              object
End_Date                object
Complaint_Status        object
Complaint_code           int64
Complaint_CAT           object
Complaint_DESC          object
Suspect_Age             object
Suspect_Race            object
Suspect_Gender          object
Victim_Age              object
Victim_Race             object
Victim_Gender           object
Latitude               float64
Longitude              float64
dtype: object

In [15]:
NYPD_2020_new_df["Start_Date"] = pd.to_datetime(NYPD_2020_new_df["Start_Date"], format="%m/%d/%Y", errors="coerce")

NYPD_2020_new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138506 entries, 0 to 413411
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Complaint_number_ID  138506 non-null  int64
 1   BORO_Name            138371 non-null  object
 2   Start_Date           138502 non-null  datetime64[ns]
 3   End_Date             125750 non-null  object
 4   Complaint_Status     138506 non-null  object
 5   Complaint_code       138506 non-null  int64
 6   Complaint_CAT        138506 non-null  object
 7   Complaint_DESC       138503 non-null  object
 8   Suspect_Age          107273 non-null  object
 9   Suspect_Race         107273 non-null  object
 10  Suspect_Gender       107273 non-null  object
 11  Victim_Age           138506 non-null  object
 12  Victim_Race          138506 non-null  object
 13  Victim_Gender        138506 non-null  object
 14  Latitude             138506 non-null  float64
 15  Longitude            138506 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(11)
memory usage: 18.0+ MB

In [16]:
NYPD_2020_2m_df= NYPD_2020_new_df[(NYPD_2020_new_df["Start_Date"].dt.month_name() == "July") | (NYPD_2020_new_df["Start_Date"].dt.month_name() == "December")]

NYPD_2020_2m_df

,Complaint_number_ID,BORO_Name,Start_Date,End_Date,Complaint_Status,Complaint_code,Complaint_CAT,Complaint_DESC,Suspect_Age,Suspect_Race,Suspect_Gender,Victim_Age,Victim_Race,Victim_Gender,Latitude,Longitude
6,710152247,BROOKLYN,1920-12-30,12/30/1920,COMPLETED,578,VIOLATION,HARRASSMENT 2,25-44,BLACK HISPANIC,F,25-44,BLACK HISPANIC,F,40.676458,-73.890808
12,153412311,BROOKLYN,1969-12-20,12/20/1969,COMPLETED,233,MISDEMEANOR,SEX CRIMES,NaN,NaN,NaN,65+,BLACK,F,40.674583,-73.930222
20,963451622,BROOKLYN,1970-12-01,5/31/1971,COMPLETED,116,FELONY,SEX CRIMES,65+,WHITE,M,45-64,UNKNOWN,F,40.648421,-73.904897
38,418396390,NaN,1986-12-01,NaN,COMPLETED,101,FELONY,MURDER & NON-NEGL. MANSLAUGHTER,65+,BLACK,M,65+,WHITE HISPANIC,M,40.753939,-73.994844
39,982736723,BROOKLYN,1986-12-24,NaN,COMPLETED,233,MISDEMEANOR,SEX CRIMES,UNKNOWN,UNKNOWN,M,25-44,UNKNOWN,M,40.674583,-73.930222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413398,988706831,BRONX,2020-12-31,12/31/2020,COMPLETED,121,FELONY,CRIMINAL MISCHIEF & RELATED OF,UNKNOWN,UNKNOWN,U,25-44,WHITE HISPANIC,M,40.873780,-73.826107
413399,780729893,MANHATTAN,2020-12-31,NaN,COMPLETED,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,25-44,BLACK,M,25-44,BLACK HISPANIC,F,40.807864,-73.935851
413400,694763592,MANHATTAN,2020-12-31,12/31/2020,COMPLETED,578,VIOLATION,HARRASSMENT 2,UNKNOWN,BLACK,M,45-64,BLACK,F,40.792412,-73.972428
413401,203039918,BRONX,2020-12-31,12/31/2020,COMPLETED,578,VIOLATION,HARRASSMENT 2,18-24,BLACK,M,25-44,BLACK,F,40.854431,-73.905589
413402,261978758,STATEN ISLAND,2020-12-31,12/31/2020,COMPLETED,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,45-64,BLACK,M,45-64,BLACK,F,40.640853,-74.134450

In [17]:
# DropNA
NYPD_2020_2m_df= NYPD_2020_2m_df.dropna()

NYPD_2020_2m_df

,Complaint_number_ID,BORO_Name,Start_Date,End_Date,Complaint_Status,Complaint_code,Complaint_CAT,Complaint_DESC,Suspect_Age,Suspect_Race,Suspect_Gender,Victim_Age,Victim_Race,Victim_Gender,Latitude,Longitude
6,710152247,BROOKLYN,1920-12-30,12/30/1920,COMPLETED,578,VIOLATION,HARRASSMENT 2,25-44,BLACK HISPANIC,F,25-44,BLACK HISPANIC,F,40.676458,-73.890808
20,963451622,BROOKLYN,1970-12-01,5/31/1971,COMPLETED,116,FELONY,SEX CRIMES,65+,WHITE,M,45-64,UNKNOWN,F,40.648421,-73.904897
74,880173421,BROOKLYN,1994-12-21,12/20/2009,COMPLETED,104,FELONY,RAPE,65+,BLACK,M,25-44,BLACK,F,40.664528,-73.947739
93,659840757,STATEN ISLAND,1997-12-19,12/19/1997,COMPLETED,104,FELONY,RAPE,45-64,UNKNOWN,M,18-24,WHITE HISPANIC,F,40.644726,-74.077483
138,813663919,BROOKLYN,2000-12-14,12/14/2020,COMPLETED,233,MISDEMEANOR,SEX CRIMES,45-64,WHITE,M,25-44,WHITE,F,40.625769,-73.991417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413397,254894727,BROOKLYN,2020-12-31,12/31/2020,COMPLETED,578,VIOLATION,HARRASSMENT 2,25-44,ASIAN / PACIFIC ISLANDER,F,45-64,ASIAN / PACIFIC ISLANDER,M,40.640527,-74.013297
413398,988706831,BRONX,2020-12-31,12/31/2020,COMPLETED,121,FELONY,CRIMINAL MISCHIEF & RELATED OF,UNKNOWN,UNKNOWN,U,25-44,WHITE HISPANIC,M,40.873780,-73.826107
413400,694763592,MANHATTAN,2020-12-31,12/31/2020,COMPLETED,578,VIOLATION,HARRASSMENT 2,UNKNOWN,BLACK,M,45-64,BLACK,F,40.792412,-73.972428
413401,203039918,BRONX,2020-12-31,12/31/2020,COMPLETED,578,VIOLATION,HARRASSMENT 2,18-24,BLACK,M,25-44,BLACK,F,40.854431,-73.905589
413402,261978758,STATEN ISLAND,2020-12-31,12/31/2020,COMPLETED,344,MISDEMEANOR,ASSAULT 3 & RELATED OFFENSES,45-64,BLACK,M,45-64,BLACK,F,40.640853,-74.134450

In [18]:
zipcode_file = "../Resources/us-zip-code-latitude-and-longitude.csv"

zipcode_df =pd.read_csv(zipcode_file)

zipcode_df.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,55795,Willow River,MN,46.317812,-92.84315,-6,1,"46.317812, -92.84315"
1,45388,Yorkshire,OH,40.328535,-84.47938,-5,1,"40.328535, -84.47938"
2,39483,Foxworth,MS,31.218509,-89.90761,-6,1,"31.218509, -89.90761"
3,31503,Waycross,GA,31.205194,-82.37534,-5,1,"31.205194, -82.37534"
4,45833,Delphos,OH,40.841409,-84.34178,-5,1,"40.841409, -84.34178"

In [19]:
zipcode_clean_df= zipcode_df.drop(columns=['geopoint', 'Timezone', 'Daylight savings time flag'])

zipcode_clean_df

         Zip          City State   Latitude  Longitude
0      55795  Willow River    MN  46.317812  -92.84315
1      45388     Yorkshire    OH  40.328535  -84.47938
2      39483      Foxworth    MS  31.218509  -89.90761
3      31503      Waycross    GA  31.205194  -82.37534
4      45833       Delphos    OH  40.841409  -84.34178
...      ...           ...   ...        ...        ...
43186  75034        Frisco    TX  33.143792  -96.83938
43187  41631       Grethel    KY  37.479754  -82.64922
43188  98362  Port Angeles    WA  48.097144 -123.40628
43189  83212         Arbon    ID  42.514471 -112.54626
43190  65280     Rush Hill    MO  39.213975  -91.73545

[43191 rows x 5 columns]

In [20]:
# Print to csv file NYPD
NYPD_2020_2m_df.to_csv('../Resources/NYPD_NoNA_2020.csv')

In [13]:
#Print to csv zipcode file
zipcode_clean_df.to_csv('../Resources/US-crime_zipcode.csv')